#### Group2 Members :
Amani Almarzoog

Ruba Alkhattabi

Abdullah Alothman

Razan Alsallumi

In [2]:
# 1
# Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ].

x = [ [5,2,3], [10,8,9] ] 

x[1][0]=15
x

[[5, 2, 3], [15, 8, 9]]

In [8]:
# Change the last_name of the first student from 'Jordan' to 'Bryant'

students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]

students[0]['last_name']='Bryant'
students

[{'first_name': 'Michael', 'last_name': 'Bryant'},
 {'first_name': 'John', 'last_name': 'Rosales'}]

In [6]:
# In the sports_directory, change 'Messi' to 'Andres'

sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}

sports_directory['soccer'][0]='Andres'
sports_directory

{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'],
 'soccer': ['Andres', 'Ronaldo', 'Rooney']}

In [9]:
# Change the value 20 in z to 30

z = [ {'x': 10, 'y': 20} ]

z[0]['y']=30
z

[{'x': 10, 'y': 30}]

In [21]:
# 2
# Create a function iterateDictionary(some_list) that, given a list of dictionaries, the function loops through 
# each dictionary in the list and prints each key and the associated value. For example, given the following list:

students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]

def iterateDictionary(x):
    for i in range(len(x)):
        first=x[i]["first_name"]
        last=x[i]["last_name"]

        print(f"first_name - {first}, last_name - {last}")
        
iterateDictionary(students)

first_name - Michael, last_name - Jordan
first_name - John, last_name - Rosales
first_name - Mark, last_name - Guillen
first_name - KB, last_name - Tonel

In [19]:
# 3
# Get Values From a List of Dictionaries
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]

def iterateDictionary(key,x):
    for i in range(len(x)):
        print(x[i][key])

students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}]

iterateDictionary("first_name",students)

Michael
John
Mark
KB

In [18]:
# 4 
# Iterate Through a Dictionary with List Values
dojo = {
   'locations': ['San Jose', 'Seattle', 'Dallas', 'Chicago', 'Tulsa', 'DC', 'Burbank'],
   'instructors': ['Michael', 'Amy', 'Eduardo', 'Josh', 'Graham', 'Patrick', 'Minh', 'Devon']}

def printInfo(dojo):
    print(len(dojo['locations']), "LOCATIONS")
    for location in dojo['locations']:
        print(location)
    print()
    print(len(dojo['instructors']), "INSTRUCTORS")
    for instructor in dojo['instructors']:
       print(instructor)
       
printInfo(dojo)

7 LOCATIONS
San Jose
Seattle
Dallas
Chicago
Tulsa
DC
Burbank

8 INSTRUCTORS
Michael
Amy
Eduardo
Josh
Graham
Patrick
Minh
Devon