In [5]:
import requests 
import pandas as pd

In [6]:
PATH_API = 'https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/v2/cities?limit=100&page=1&offset=0&sort=asc&country_id=SA&order_by=city'

r = requests.get(PATH_API)
data = r.json()
data.keys()

dict_keys(['meta', 'results'])

In [7]:
dataframe2 = pd.DataFrame(data["results"])
dataframe2

,country,city,count,locations,firstUpdated,lastUpdated,parameters
0,SA,Dharan,24,1,2019-07-15T19:00:00+00:00,2019-07-16T18:00:00+00:00,[pm25]
1,SA,N/A,3822233,2,2019-10-28T18:00:00+00:00,2021-01-20T18:00:00+00:00,[pm25]

In [13]:
# Create a city locator function that lets a user input a list of cities and returns a DataFrame object

# Test the API in the docs and figure out which path is needed to achieve our results

# Start of API string
api_s = 'https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/v2/cities?limit=100&page=1&offset=0&sort=asc'

# End of API string
api_e = "&order_by=city"

# User generated list of cities to look up
city_ls = ["Dharan"]

# Empty string to pupulate with desired cities using the correct API syntax to be added to the middle of the API string
city_s = ""

# Iterate over the city_ls list and append each city to the city_s string
for x in city_ls:
    
    # If the length of the name is less then 2 then proceed with the "if" statement
    if len(x.split()) < 2:
        city_s += f"&city={x}" # Use string concatenation to add new string to old string
        
    # Else, split the multiple worded city into a list and join together using API syntax
    # %20 == space
    # New York has 2 words so it wont create a successful API string if we leave the space present
    else:
        samp = x.split() # split into list
        samp = "20%".join(samp) # join together using the API alternative for a space
        city_s += f"&city{samp}" # add to our original string

# Create the enitre API PATH
PATH = api_s + city_s +api_e
 
# Request the data
r = requests.get(PATH)

# Create a Pandas DF object
pd.DataFrame(r.json()["results"])

,country,city,count,locations,firstUpdated,lastUpdated,parameters
0,SA,Dharan,24,1,2019-07-15T19:00:00+00:00,2019-07-16T18:00:00+00:00,[pm25]

In [11]:
def city_loc(city_ls):
    
    """Pull data from a list of cities in the US using the OpenAQ API
    
    city_ls = list contianing city names to search
    
    returns pandas DataFrame object if cities were found in the database
    """
    
    api_s = 'https://docs.openaq.org/v2/cities?limit=100&page=1&offset=0&sort=asc'
    api_e = "&order_by=city"
    city_ls = city_ls
    city_s = ""
    for x in city_ls:
        if len(x.split()) < 2:
            city_s += f"&city={x}"
        else:
            samp = x.split()
            samp = "%20".join(samp)
            city_s += f"&city{samp}"

    PATH = api_s + city_s +api_e

    r = requests.get(PATH)
    return pd.DataFrame(r.json()["results"])

city_loc(["Dharan"])

,country,city,count,locations,firstUpdated,lastUpdated,parameters
0,SA,Dharan,24,1,2019-07-15T19:00:00+00:00,2019-07-16T18:00:00+00:00,[pm25]

In [15]:
#How many rows and columns are in the data from your API call

print("The number od columns", len(dataframe2.columns))
print("The number od rows", len(dataframe2))

The number od columns 7
The number od rows 2

In [16]:
dataframe2.shape

(2, 7)